.site-list__item {
	text-align: center;
}

.site-list__item a {
	display: block;
	padding: 18px 0;

	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: #111111;
	text-transform: uppercase;

	border-top: 1px solid #e6e6e6;
}