.social-list {
	padding: 0 73px;
	padding-top: 26px;
	padding-bottom: 21px;
	
	font-size: 0;
	text-align: center;

	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.social-list__item {
	display: inline-block;
	margin-right: 43px;

	font-size: 10px;

	vertical-align: middle;

	&:last-child {
		margin-right: 0;
	}
}

.social-list__link {
	display: flex;
	align-items: center;

	transition-property: opacity;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}

.social-list__vk,
.social-list__insta,
.social-list__fb {
	fill: #666666;

	transition-property: fill;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.social-list__link:focus {

	.social-list__vk,
	.social-list__insta,
	.social-list__fb {
		fill: #68b738;
	}
}

.social-list__link:active {
	opacity: 0.3;
}

@media (min-width: $tablet-width) {
	.social-list {
		padding: 0;
		width: 124px;

		text-align: center;

		border: none;
	}

	.social-list__item {
		margin-right: 28px;
	}

	.social-list__logo-vk {
		width: 30px;
		height: 16px;
	}

	.social-list__logo-insta {
		width: 23px;
		height: 23px;
	}

	.social-list__logo-fb {
		width: 14px;
		height: 28px;
	}

	.social-list__link:hover {

		.social-list__vk,
		.social-list__insta,
		.social-list__fb {
			fill: #68b738;
		}
	}
}